section { 
    display: block;
}
div.panel-heading{background-color: #BB3D60; color: #ffffff;}.whitetext {
	color: #E8E4E3;
}
a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: larger;
  background-color: #BB3D60;
}

.text-muted {
  color: #FFFFFF;
  background-color: #BB3D60;
  text-align: center;
}


h4{font-weight: bold;
}

.panel-body {
  padding: 15px;
  text-align: left;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  float: none;
  }
 